In [1]:
#Required Library Imports
import os
import pandas as pd

In [4]:
df = pd.read_csv("test.csv",  dtype='unicode') #created Dataframe of Test CSV

In [5]:
df1 = pd.read_csv("train.csv",  dtype='unicode') #created Dataframe of Train CSV

In [12]:
df2 = pd.merge(df, df1, how='outer') #merged train and test dataframe (Like Union All)

In [13]:
df2

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.8433333333328,3,...,Good,809.98,35.03040185583525,22 Years and 9 Months,No,49.57494921489417,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772,NaN
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.8433333333328,3,...,Good,809.98,33.053114497012245,22 Years and 10 Months,No,49.57494921489417,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196,NaN
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.8433333333328,3,...,Good,809.98,33.811894118574465,NaN,No,49.57494921489417,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997,NaN
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,32.430559017296765,23 Years and 0 Months,No,49.57494921489417,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634,NaN
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986666666666,2,...,Good,605.03,25.92682170377555,27 Years and 3 Months,No,18.816214573128885,39.684018417945296,High_spent_Large_value_payments,485.2984336755923,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,4,...,_,502.38,34.66357180929323,31 Years and 6 Months,No,35.10402261040746,60.97133255718485,High_spent_Large_value_payments,479.86622816574095,Poor
149996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,4,...,_,502.38,40.565630963889205,31 Years and 7 Months,No,35.10402261040746,54.18595028760385,High_spent_Medium_value_payments,496.651610435322,Poor
149997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,4,...,Good,502.38,41.255522259019116,31 Years and 8 Months,No,35.10402261040746,24.02847744864441,High_spent_Large_value_payments,516.8090832742814,Poor
149998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,4,...,Good,502.38,33.63820798055965,31 Years and 9 Months,No,35.10402261040746,251.67258219721603,Low_spent_Large_value_payments,319.1649785257098,Standard
149999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833333333,4,...,Good,502.38,34.192462653467544,31 Years and 10 Months,No,35.10402261040746,167.1638651610451,!@9#%8,393.6736955618808,Poor

In [14]:
df2.to_csv('final.csv') #Writing Dataframe to CSV file in the Local

In [17]:
df3 = pd.read_csv("final.csv", dtype='unicode') #Reading CSV File to Dataframe

In [18]:
df3

,Unnamed: 0,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.8433333333328,...,Good,809.98,35.03040185583525,22 Years and 9 Months,No,49.57494921489417,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772,NaN
1,1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.8433333333328,...,Good,809.98,33.053114497012245,22 Years and 10 Months,No,49.57494921489417,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196,NaN
2,2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.8433333333328,...,Good,809.98,33.811894118574465,NaN,No,49.57494921489417,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997,NaN
3,3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,...,Good,809.98,32.430559017296765,23 Years and 0 Months,No,49.57494921489417,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634,NaN
4,4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986666666666,...,Good,605.03,25.92682170377555,27 Years and 3 Months,No,18.816214573128885,39.684018417945296,High_spent_Large_value_payments,485.2984336755923,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,149995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,_,502.38,34.66357180929323,31 Years and 6 Months,No,35.10402261040746,60.97133255718485,High_spent_Large_value_payments,479.86622816574095,Poor
149996,149996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,_,502.38,40.565630963889205,31 Years and 7 Months,No,35.10402261040746,54.18595028760385,High_spent_Medium_value_payments,496.651610435322,Poor
149997,149997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,Good,502.38,41.255522259019116,31 Years and 8 Months,No,35.10402261040746,24.02847744864441,High_spent_Large_value_payments,516.8090832742814,Poor
149998,149998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,Good,502.38,33.63820798055965,31 Years and 9 Months,No,35.10402261040746,251.67258219721603,Low_spent_Large_value_payments,319.1649785257098,Standard
149999,149999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833333333,...,Good,502.38,34.192462653467544,31 Years and 10 Months,No,35.10402261040746,167.1638651610451,!@9#%8,393.6736955618808,Poor

In [19]:
print(df3)

       Unnamed: 0       ID Customer_ID      Month             Name  Age  \
0               0   0x160a   CUS_0xd40  September    Aaron Maashoh   23
1               1   0x160b   CUS_0xd40    October    Aaron Maashoh   24
2               2   0x160c   CUS_0xd40   November    Aaron Maashoh   24
3               3   0x160d   CUS_0xd40   December    Aaron Maashoh  24_
4               4   0x1616  CUS_0x21b1  September  Rick Rothackerj   28
...           ...      ...         ...        ...              ...  ...
149995     149995  0x25fe9  CUS_0x942c      April            Nicks   25
149996     149996  0x25fea  CUS_0x942c        May            Nicks   25
149997     149997  0x25feb  CUS_0x942c       June            Nicks   25
149998     149998  0x25fec  CUS_0x942c       July            Nicks   25
149999     149999  0x25fed  CUS_0x942c     August            Nicks   25

                SSN Occupation Annual_Income Monthly_Inhand_Salary  ...  \
0       821-00-0265  Scientist      19114.12    1824.8433333333328  ...
1       821-00-0265  Scientist      19114.12    1824.8433333333328  ...
2       821-00-0265  Scientist      19114.12    1824.8433333333328  ...
3       821-00-0265  Scientist      19114.12                   NaN  ...
4       004-07-5839    _______      34847.84     3037.986666666666  ...
...             ...        ...           ...                   ...  ...
149995  078-73-5990   Mechanic      39628.99     3359.415833333333  ...
149996  078-73-5990   Mechanic      39628.99     3359.415833333333  ...
149997  078-73-5990   Mechanic      39628.99     3359.415833333333  ...
149998  078-73-5990   Mechanic      39628.99     3359.415833333333  ...
149999  078-73-5990   Mechanic     39628.99_     3359.415833333333  ...

       Credit_Mix Outstanding_Debt Credit_Utilization_Ratio  \
0            Good           809.98        35.03040185583525
1            Good           809.98       33.053114497012245
2            Good           809.98       33.811894118574465
3            Good           809.98       32.430559017296765
4            Good           605.03        25.92682170377555
...           ...              ...                      ...
149995          _           502.38        34.66357180929323
149996          _           502.38       40.565630963889205
149997       Good           502.38       41.255522259019116
149998       Good           502.38        33.63820798055965
149999       Good           502.38       34.192462653467544

            Credit_History_Age Payment_of_Min_Amount Total_EMI_per_month  \
0        22 Years and 9 Months                    No   49.57494921489417
1       22 Years and 10 Months                    No   49.57494921489417
2                          NaN                    No   49.57494921489417
3        23 Years and 0 Months                    No   49.57494921489417
4        27 Years and 3 Months                    No  18.816214573128885
...                        ...                   ...                 ...
149995   31 Years and 6 Months                    No   35.10402261040746
149996   31 Years and 7 Months                    No   35.10402261040746
149997   31 Years and 8 Months                    No   35.10402261040746
149998   31 Years and 9 Months                    No   35.10402261040746
149999  31 Years and 10 Months                    No   35.10402261040746

       Amount_invested_monthly                 Payment_Behaviour  \
0           236.64268203272135    Low_spent_Small_value_payments
1           21.465380264657146  High_spent_Medium_value_payments
2           148.23393788500925   Low_spent_Medium_value_payments
3            39.08251089460281  High_spent_Medium_value_payments
4           39.684018417945296   High_spent_Large_value_payments
...                        ...                               ...
149995       60.97133255718485   High_spent_Large_value_payments
149996       54.18595028760385  High_spent_Medium_value_payments
149997       24.02847744864441   High_spent_Large_value_payments
149998      251.67258219721603    Low_spent_Large_value_payments
149999       167.1638651610451                            !@9#%8

           Monthly_Balance Credit_Score
0       186.26670208571772          NaN
1       361.44400385378196          NaN
2       264.67544623342997          NaN
3       343.82687322383634          NaN
4        485.2984336755923          NaN
...                    ...          ...
149995  479.86622816574095         Poor
149996    496.651610435322         Poor
149997   516.8090832742814         Poor
149998   319.1649785257098     Standard
149999   393.6736955618808         Poor

[150000 rows x 29 columns]

In [20]:
df3.columns

Index(['Unnamed: 0', 'ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN',
       'Occupation', 'Annual_Income', 'Monthly_Inhand_Salary',
       'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
       'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix',
       'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [21]:
df3.columns[-1]

'Credit_Score'

In [23]:
df3.pop(df3.columns[-1]) #Pop - Removing the Final Credit Score Column

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
            ...
149995        Poor
149996        Poor
149997        Poor
149998    Standard
149999        Poor
Name: Credit_Score, Length: 150000, dtype: object

In [24]:
df3

,Unnamed: 0,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.8433333333328,...,2022.0,Good,809.98,35.03040185583525,22 Years and 9 Months,No,49.57494921489417,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.8433333333328,...,4.0,Good,809.98,33.053114497012245,22 Years and 10 Months,No,49.57494921489417,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.8433333333328,...,4.0,Good,809.98,33.811894118574465,NaN,No,49.57494921489417,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,...,4.0,Good,809.98,32.430559017296765,23 Years and 0 Months,No,49.57494921489417,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986666666666,...,5.0,Good,605.03,25.92682170377555,27 Years and 3 Months,No,18.816214573128885,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,149995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,3.0,_,502.38,34.66357180929323,31 Years and 6 Months,No,35.10402261040746,60.97133255718485,High_spent_Large_value_payments,479.86622816574095
149996,149996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,3.0,_,502.38,40.565630963889205,31 Years and 7 Months,No,35.10402261040746,54.18595028760385,High_spent_Medium_value_payments,496.651610435322
149997,149997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,3.0,Good,502.38,41.255522259019116,31 Years and 8 Months,No,35.10402261040746,24.02847744864441,High_spent_Large_value_payments,516.8090832742814
149998,149998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,3.0,Good,502.38,33.63820798055965,31 Years and 9 Months,No,35.10402261040746,251.67258219721603,Low_spent_Large_value_payments,319.1649785257098
149999,149999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833333333,...,3.0,Good,502.38,34.192462653467544,31 Years and 10 Months,No,35.10402261040746,167.1638651610451,!@9#%8,393.6736955618808

In [25]:
df3.to_csv('DDA_Dataset.csv')

In [26]:
df4 = pd.read_csv("DDA_Dataset.csv", dtype='unicode')

In [27]:
df4

,Unnamed: 0.1,Unnamed: 0,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0,0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,...,2022.0,Good,809.98,35.03040185583525,22 Years and 9 Months,No,49.57494921489417,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,1,1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,...,4.0,Good,809.98,33.053114497012245,22 Years and 10 Months,No,49.57494921489417,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,2,2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,...,4.0,Good,809.98,33.811894118574465,NaN,No,49.57494921489417,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,3,3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,...,4.0,Good,809.98,32.430559017296765,23 Years and 0 Months,No,49.57494921489417,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,4,4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,...,5.0,Good,605.03,25.92682170377555,27 Years and 3 Months,No,18.816214573128885,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,149995,149995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,...,3.0,_,502.38,34.66357180929323,31 Years and 6 Months,No,35.10402261040746,60.97133255718485,High_spent_Large_value_payments,479.86622816574095
149996,149996,149996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,...,3.0,_,502.38,40.565630963889205,31 Years and 7 Months,No,35.10402261040746,54.18595028760385,High_spent_Medium_value_payments,496.651610435322
149997,149997,149997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,...,3.0,Good,502.38,41.255522259019116,31 Years and 8 Months,No,35.10402261040746,24.02847744864441,High_spent_Large_value_payments,516.8090832742814
149998,149998,149998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,...,3.0,Good,502.38,33.63820798055965,31 Years and 9 Months,No,35.10402261040746,251.67258219721603,Low_spent_Large_value_payments,319.1649785257098
149999,149999,149999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,...,3.0,Good,502.38,34.192462653467544,31 Years and 10 Months,No,35.10402261040746,167.1638651610451,!@9#%8,393.6736955618808

In [29]:
df4.pop(df4.columns[1])

0              0
1              1
2              2
3              3
4              4
           ...
149995    149995
149996    149996
149997    149997
149998    149998
149999    149999
Name: Unnamed: 0, Length: 150000, dtype: object

In [30]:
df4

,Unnamed: 0.1,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.8433333333328,...,2022.0,Good,809.98,35.03040185583525,22 Years and 9 Months,No,49.57494921489417,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.8433333333328,...,4.0,Good,809.98,33.053114497012245,22 Years and 10 Months,No,49.57494921489417,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.8433333333328,...,4.0,Good,809.98,33.811894118574465,NaN,No,49.57494921489417,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,...,4.0,Good,809.98,32.430559017296765,23 Years and 0 Months,No,49.57494921489417,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986666666666,...,5.0,Good,605.03,25.92682170377555,27 Years and 3 Months,No,18.816214573128885,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,149995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,3.0,_,502.38,34.66357180929323,31 Years and 6 Months,No,35.10402261040746,60.97133255718485,High_spent_Large_value_payments,479.86622816574095
149996,149996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,3.0,_,502.38,40.565630963889205,31 Years and 7 Months,No,35.10402261040746,54.18595028760385,High_spent_Medium_value_payments,496.651610435322
149997,149997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,3.0,Good,502.38,41.255522259019116,31 Years and 8 Months,No,35.10402261040746,24.02847744864441,High_spent_Large_value_payments,516.8090832742814
149998,149998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,3.0,Good,502.38,33.63820798055965,31 Years and 9 Months,No,35.10402261040746,251.67258219721603,Low_spent_Large_value_payments,319.1649785257098
149999,149999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833333333,...,3.0,Good,502.38,34.192462653467544,31 Years and 10 Months,No,35.10402261040746,167.1638651610451,!@9#%8,393.6736955618808

In [31]:
df4.to_csv("DDA_Final_Dataset.csv")

In [32]:
df4

,Unnamed: 0.1,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.8433333333328,...,2022.0,Good,809.98,35.03040185583525,22 Years and 9 Months,No,49.57494921489417,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.8433333333328,...,4.0,Good,809.98,33.053114497012245,22 Years and 10 Months,No,49.57494921489417,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.8433333333328,...,4.0,Good,809.98,33.811894118574465,NaN,No,49.57494921489417,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,...,4.0,Good,809.98,32.430559017296765,23 Years and 0 Months,No,49.57494921489417,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986666666666,...,5.0,Good,605.03,25.92682170377555,27 Years and 3 Months,No,18.816214573128885,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,149995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,3.0,_,502.38,34.66357180929323,31 Years and 6 Months,No,35.10402261040746,60.97133255718485,High_spent_Large_value_payments,479.86622816574095
149996,149996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,3.0,_,502.38,40.565630963889205,31 Years and 7 Months,No,35.10402261040746,54.18595028760385,High_spent_Medium_value_payments,496.651610435322
149997,149997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,3.0,Good,502.38,41.255522259019116,31 Years and 8 Months,No,35.10402261040746,24.02847744864441,High_spent_Large_value_payments,516.8090832742814
149998,149998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833333333,...,3.0,Good,502.38,33.63820798055965,31 Years and 9 Months,No,35.10402261040746,251.67258219721603,Low_spent_Large_value_payments,319.1649785257098
149999,149999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833333333,...,3.0,Good,502.38,34.192462653467544,31 Years and 10 Months,No,35.10402261040746,167.1638651610451,!@9#%8,393.6736955618808